<section>
    <div class="grid">
        <div class="border">
            <h1>Output</h1>
        
            <app-generator></app-generator>
        </div>
        
        <div class="border">
            <h2>Data</h2>
    
            <button (click)="openData()" *ngIf="!toggleData">Show me the Data</button>
            <button (click)="openData()" *ngIf="toggleData">Hide the Data</button>
        
            <app-display [class.hidden]="!toggleData"></app-display>
        
        </div>

        <div class="border">
            <h2>Credits</h2>

            <button (click)="openCredits()" *ngIf="!toggleCredits">Show credits</button>
            <button (click)="openCredits()" *ngIf="toggleCredits">Hide credits</button>

            <div [class.credits]="toggleCredits" [class.hidden]="!toggleCredits">
                <h2>Credits where credits are due</h2>
                <a target="_blank" href="https://docx.js.org/#/usage/styling-with-js">=> DOCX's good documentation</a>
                <a target="_blank" href="https://stackblitz.com/edit/angular-docx?file=src%2Fapp%2Fcv-generator.ts">=> Dolan Miu's template on Stackblitz</a>
                <a target="_blank" href="https://juanjodiaz.github.io/json2csv/#/quick-start">=> juanjodiaz json-csv parser</a>

                <p>Auto-generate a CV based on predefined styling and data.</p>
            </div>
        
        </div>
        
    </div>
</section>