<section>
    <h1>Dashboard</h1>

    <button (click)="openMenu()">Show me the Button</button>

    <router-outlet></router-outlet>


    <div class="credits">
        <h2>Credits where credits are due</h2>
        <a target="_blank" href="https://docx.js.org/#/usage/styling-with-js">=> DOCX's good documentation</a>
        <a target="_blank" href="https://stackblitz.com/edit/angular-docx?file=src%2Fapp%2Fcv-generator.ts">=> Dolan Miu's template on Stackblitz</a>
    </div>

    <p>Auto-generate a CV based on predefined styling and data.</p>

</section>